<h1>All Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @products.present? %>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= product.stock %></td>
          <td>
            <%= link_to 'Show', product_path(product), class: "btn btn-primary btn-sm" %>
            <% if current_user.admin? %>
              <%= link_to 'Edit', edit_product_path(product), class: "btn btn-secondary btn-sm" %>
              <%= link_to 'Delete', product_path(product), data: { "turbo-method": :delete, confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">No products available</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
<% end %>