<h1><%= @product.name %></h1>
<p><strong>Description:</strong> <%= @product.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
<p><strong>Stock:</strong> <%= @product.stock %></p>

<% if @product.images.attached? %>
    <div class="container">
    <div class="row">
        <% @product.images.each do |image| %>
        <div class="col-md-4 mb-3">
            <div class="card">
            <%= image_tag image, class: "card-img-top img-fluid" %>
            </div>
        </div>
        <% end %>
    </div>
    </div>
<% end %>

<%= form_with url: product_add_to_cart_path(@product), method: :post do |f| %>
  <%= f.hidden_field :quantity, value: 1 %>
  <%= f.submit "Add to Cart", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to Products', products_path, class: "btn btn-primary" %>